
div(class="container-fluid")
	h2= item_name



div(class='container')
	canvas(id="canvas" width="500" height="300" style="border:1px solid #000000;")

	.row
		.col-md-2
			h3(style='color:white') Base Price:
		.col-md-1
			h3(id="item_price",style='color:white;')
	.row
		.col-md-4
			h3(id="item_name",style='color:white;')
	.row
		.col-md-4
			h3(id="item_desc",style='color:white;')

	.row
		.col-md-2
			h3(style='color:white;') Current Price:
		.col-md-2
			h3(style="color:#fffff0;",id="bids")

	.row
		div(id="clock" class="col-md-4" style="color:white;")

	.row
		.col-md-4
			span(style="color:white;font-size:20px") Place a bid


	.row
		.col-md-4
			input(type="button" value="1000" id="but_1" class="btn-bid btn btn-lg btn-default")
	.row
		.col-md-4
			input(type="button" value="1500" id="but_2" class="btn-bid btn btn-lg btn-default")
	.row
		.col-md-4
			input(type="button" value="2000" id="but_3" class="btn-bid btn btn-lg btn-default")



.container#chatbox
		.row
			.col-md-5.pull-right
				.panel.panel-primary(style="margin-bottom:0px;")
					#collapseOne.panel-collapse.collapse(style="border-top:5px solid #337ab7;")
						.panel-body
							ul.chat#res-chat
								li.left.clearfix
									span.chat-img.pull-left
										img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
									.chat-body.clearfix
										.header
											strong.primary-font Jack Sparrow
											small.pull-right.text-muted
												span.glyphicon.glyphicon-time
												| 12 mins ago
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
								li.right.clearfix
									span.chat-img.pull-right
										img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
									.chat-body.clearfix
										.header
											small.text-muted
												span.glyphicon.glyphicon-time
												| 13 mins ago
											strong.pull-right.primary-font Bhaumik Patel
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
								li.left.clearfix
									span.chat-img.pull-left
										img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
									.chat-body.clearfix
										.header
											strong.primary-font Jack Sparrow
											small.pull-right.text-muted
												span.glyphicon.glyphicon-time
												| 14 mins ago
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
								li.right.clearfix
									span.chat-img.pull-right
										img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
									.chat-body.clearfix
										.header
											small.text-muted
												span.glyphicon.glyphicon-time
												| 15 mins ago
											strong.pull-right.primary-font Bhaumik Patel
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
						.panel-footer
							.input-group
								input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
								span.input-group-btn
									button#btn-chat.btn.btn-warning.btn-sm
										| Send

					#accordion.panel-heading
						span.glyphicon.glyphicon-comment
						|  Chat
						.btn-group.pull-right
							a.btn.btn-default.btn-xs(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseOne')
								span.glyphicon.glyphicon-chevron-up


script.

	var nextYear = moment.tz("2017-02-02 22:30", "America/Sao_Paulo");

	$('#clock').countdown(nextYear.toDate(), function(event) {
	$(this).html(event.strftime('%D days %H:%M:%S'));
	});






script(src="/bower_components/moment/moment.js")
script(src="/bower_components/moment-timezone/moment-timezone.js")
script(src="/javascripts/room.js")
