

.container
	.row

		.col-md-3.pull-left
			div.panel-group
				div(class="panel panel-info")
					div.panel-heading Seller info
					div.panel-body(class="panel-seller")
						span(ng-bind="item.item_owner")

				div(class="panel panel-info")
					div.panel-heading Place a Bid
					div.panel-body(class="panel-bid")
						button(type="button" ng-bind="item.curBidValue1" id="but_1" class="btn-bid btn btn-lg btn-default")
						button(type="button" ng-bind="item.curBidValue2" id="but_2" class="btn-bid btn btn-lg btn-default")
						button(type="button" ng-bind="item.curBidValue3" id="but_3" class="btn-bid btn btn-lg btn-default")

				div(class="panel panel-info")
					div.panel-heading Last Bids
					div.panel-body(class="panel-price")
						div(ng-repeat="bid in bidlist | reverse")
							span(ng-bind="bid.user")
							span(ng-bind="bid.value" class="pull-right")


				div(class="panel panel-info")
					div.panel-heading Current Price
					div.panel-body(id="current_price" class="panel-price")
						img(alt="Rupee" src="/images/rupee_micro.png")
						span(ng-bind="current_price")

		.col-md-5
			canvas(id="canvas" class="auction_canvas" width="400" height="300")



		.col-md-3
			div.panel-group
				div(class="panel panel-info")
					div.panel-heading Item Name
					div.panel-body(id="item_name" class="panel-name" ng-bind="item.item_name")

				div(class="panel panel-info")
					div.panel-heading Base Price
					div.panel-body(id="item_price" class="panel-price")
						img(alt="Rupee" src="/images/rupee_micro.png")
						span(ng-bind="item.item_price")

				div(class="panel panel-info")
					div.panel-heading Description
					div.panel-body(id="item_desc" class="panel-desc" ng-bind="item.item_desc")





		.col-md-3.col-md-offset-2
			div(id="clockdiv" class="clockdiv" style="color:white;")




		#flashModal.modal.fade(role='dialog')
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(type='button', data-dismiss='modal') ×
						h4.modal-title Warning
					.modal-body
						p
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
