
div
	div
		div(class="featured")
			img(src="images/back.jpg" alt="")

		div(class="section")

			div
				h3(class="box-title") welcome to auctionit
				div(class="box-body")
					p Penny's on the dollar! AUCTION IT is an auction game in which you can bid on items. Collect rare items and sell them to other players.
						a(href="" ng-click="redirect('join')" class="more") view auctions

			div
				h3(class="box-title") quiz
				div(class="box-body")
					a(href="" ng-click="redirect('quiz')" class="figure")
						img(src="images/quiz.png" alt="")
					span
						a(href="" ng-click="redirect('quiz')") Play Quiz

			div
				h3(class="box-title") wheel of fortune
				div(class="box-body")
					a(href="" ng-click="redirect('wheeloffortune')" class="figure")
						img(src="images/" alt="")
					span
						a(href="" ng-click="redirect('wheeloffortune')") Spin the wheel
