h1(align="center")= title

div(class="menu")
	div(class="btn trigger")
		span(class="line")

	div(class="rotater" ng-click="redirect('join')")
		div(class="btn btn-icon")
			i(class="fa fa-html5")

	div(class="rotater" ng-click="redirect('profile')")
		div(class="btn btn-icon")
			i(class="fa fa-facebook")


	div(class="rotater" ng-click="redirect('quiz')")
		div(class="btn btn-icon")
			i(class="fa fa-google-plus")

	div(class="rotater" ng-click="redirect('wheeloffortune')")
		div(class="btn btn-icon")
			i(class="fa fa-twitter")


	div(class="rotater")
		div(class="btn btn-icon")
			i(class="fa fa-css3")


	div(class="rotater")
		div(class="btn btn-icon")
			i(class="fa fa-instagram")

	div(class="rotater")
		div(class="btn btn-icon")
			i(class="fa fa-github")

	div(class="rotater")
		div(class="btn btn-icon")
			i(class="fa fa-linkedin")
