ul.nav.nav-tabs.nav-justified
	li
		a(href='' ng-click="redirect('quiz')") Quiz
	li
		a(href='' ng-click="redirect('leaderboard')") LeaderBoard
	li
		a(href='' ng-click="redirect('join')") Join Auction
	li
		a(href='' ng-click="redirect('instructions')") Instructions
	li
		a(href='' ng-click="redirect('profile')") Profile
	li
		a(href='' ng-click="redirect('wheeloffortune')") Spin the wheel
