ul.nav.nav-tabs.nav-justified
	li
		a(href='#') Quiz
	li
		a(href='#') LeaderBoard
	li
		a(href='#') Join Auction
	li
		a(href='#') Instructions
	li
		a(href='#') Profile
	li
		a(href='#') Spin the wheel
