
.container(style='background-color:white;')
	h1 Instructions for AuctionIt
	h3 Please read them carefully
	#instructions

		ul.list-group
			li.list-group-item
				h3 Starting Money
				| Each player starts with 30000 coins and bids on items
			li.list-group-item
				h3 Bid on Asset
				h5 Click on "Actions" -> "Bid On Asset". Follow the instructions listed paying attention to the time remaining in the existing auction. Submit Bids with different available user IDs, Highest Bid Price will be updated periodically on UI. Clicking on BuyItNow will close the Auction immediately and no more auctions can be submitted. Once Auction is closed updated details can be seen on Asset Details view.
			li.list-group-item
				h3 Opening an auction
				h5 Click on "Actions" -> "Auctions". You should see the "AUCTIONS" window that will allow you to click on "Open Auction" Enter a duration period in minutes and click on the "OPEN AUCTION" button at the bottom.
				h5 The Asset now is available for auction.
			li.list-group-item
				h5 If you understood the instructions correctly press the "DONE" button to proceed to the game.
		button.btn.btn-primary.pull-right(type='button') Done
