div

	.about
		div(class="content" class="box-info ins_board")
			h1(class="box-title") Instructions for AuctionIt
			#instructions

				ul.list-group
					li.list-group-item
						h4 Please read them carefully
					li.list-group-item
						h3 Starting Money
						| Each player starts with 30000 coins and bids on items
						h3
						| A good player will try to spend the least amount of money to buy the best items.
					li.list-group-item
						h3 Bid on Asset
						h5 Click on AUCTIONS to view the list of current auctions as well as upcoming auctions.
						h5 Click on "Bid on Asset" button of the item you want to bid on. Read the description of the item paying attention to the time remaining in the existing auction.
						h5 Submit Bids with different available bid price, Highest Bid Price will be updated periodically on UI.
						h5 Once Auction is closed the item is won by the highest bidder.
					li.list-group-item
						h3 Opening an auction
						h5 Select an item in your inventory. Click on "Actions". You should see the "PLACE AUCTION" window that will allow you to click on "Open Auction".
						h5  Enter a duration period in minutes and click on the "OPEN AUCTION" button at the bottom.
						h5 The Asset now is available for auction.
					li.list-group-item
						h3 Profile
						h5 The PROFILE contains user information, "All Badges" section and the item inventory. The "All Badges" section shows the badges earned by the player.
						h5 Once you complete all the tasks listed for a badge, the particular badge turns golden in your profile
					li.list-group-item
						h3 Earn cash
						h5 A player can earn cash by playing the QUIZ, spinning the WHEEL OF FORTUNE or selling items.
						h5 Click on HOME to play the QUIZ or WHEEL OF FORTUNE
						h5 The QUIZ and WHEEL OF FORTUNE can be played twice per hour.
						h5 Keep a look at the timer for the next time the QUIZ or WHEEL OF FORTUNE appears
