

div(class="container")
	h1(style="color:#ffffff") Current Auctions

.container
	.scroller.scroller-left
		i.glyphicon.glyphicon-chevron-left
	.scroller.scroller-right
		i.glyphicon.glyphicon-chevron-right
	.wrapper(style='height:500px;margin-top:20px;')
		ul#myTab.nav.nav-tabs.list(style='padding-bottom:20px;')

.container
	h1(style="color:#ffffff") Upcoming Auctions

.container
	.scroller.scroller-left
		i.glyphicon.glyphicon-chevron-left
	.scroller.scroller-right
		i.glyphicon.glyphicon-chevron-right
	.wrapper(style='height:450px;margin-top:20px;')
		ul#uptab.nav.nav-tabs.list(style='padding-bottom:20px;')

.container#chatbox
		.row
			.col-md-4.pull-right
				.panel.panel-primary(style="margin-bottom:0px;")
					#collapseOne.panel-collapse.collapse(style="border-top:5px solid #337ab7;")
						.panel-body
							ul.chat#res-chat
								li.left.clearfix
									span.chat-img.pull-left
										img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
									.chat-body.clearfix
										.header
											strong.primary-font Jack Sparrow
											small.pull-right.text-muted
												span.glyphicon.glyphicon-time
												| 12 mins ago
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
								li.right.clearfix
									span.chat-img.pull-right
										img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
									.chat-body.clearfix
										.header
											small.text-muted
												span.glyphicon.glyphicon-time
												| 13 mins ago
											strong.pull-right.primary-font Bhaumik Patel
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
								li.left.clearfix
									span.chat-img.pull-left
										img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='User Avatar')
									.chat-body.clearfix
										.header
											strong.primary-font Jack Sparrow
											small.pull-right.text-muted
												span.glyphicon.glyphicon-time
												| 14 mins ago
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
								li.right.clearfix
									span.chat-img.pull-right
										img.img-circle(src='http://placehold.it/50/FA6F57/fff&text=ME', alt='User Avatar')
									.chat-body.clearfix
										.header
											small.text-muted
												span.glyphicon.glyphicon-time
												| 15 mins ago
											strong.pull-right.primary-font Bhaumik Patel
										p
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
											| dolor, quis ullamcorper ligula sodales.
						.panel-footer
							.input-group
								input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
								span.input-group-btn
									button#btn-chat.btn.btn-warning.btn-sm
										| Send

					#accordion.panel-heading
						span.glyphicon.glyphicon-comment
						|  Chat
						.btn-group.pull-right
							a.btn.btn-default.btn-xs(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseOne')
								span.glyphicon.glyphicon-chevron-up
