.container

  table.table
    thead.thead-inverse
      tr
        th #
        th Username
        th Items Won
        th Auction Points
    tbody
      tr
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
      tr
        th(scope='row') 3
        td Larry
        td the Bird
        td @twitter
