.container
  .row
    .col-md-6.col-md-offset-3

      .table-responsive

        table.table.table-bordered
          thead.thead-inverse
            tr
              th Rank
              th Username
              th Items Won
              th Auction Points
          tbody
            tr(ng-repeat="user in users")
              th(scope='row') {{ $index + 1 }}
              td {{user.id}}
              td {{user.itemswon}}
              td {{user.aucpoints}}
