.container
  .row
    div(class="about col-md-10 leader_back")
      div(class="content" class="box-info")

      .row
        .col-md-6.col-md-offset-3
          h3(class="box-title") LeaderBoard
      .row
        .col-md-6.col-md-offset-3

          .table-responsive(class="box-body lead_box")

            table.table.table-bordered
              thead.thead-inverse
                tr
                  th Rank
                  th Username
                  th Items Won
                  th Auction Points
              tbody
                tr(ng-repeat="user in users")
                  th(scope='row') {{ $index + 1 }}
                  td {{user.id}}
                  td {{user.itemswon}}
                  td {{user.aucpoints}}

      .row
        .col-md-6.col-md-offset-3.rating-form
          label(for="input-1" class="control-label") Did you like this game? Leave us a rating.
          input(id="input-1" name="input-1",class="rating-loading")
