p.text-info May 05,2014,03:00 pm
.col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad
	.panel.panel-info
		.panel-heading
			h3.panel-title#profile-title
		.panel-body
			.row
				.col-md-3.col-lg-3(align='center')
					img.img-circle.img-responsive(alt='User Pic', src='http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png')
				.col-md-9.col-lg-9
					table.table.table-user-information
						tbody
							tr
								td Teknack User ID:
								td(ng-bind="userid")
							tr
								td Teknack User Name:
								td(ng-bind="username")
							tr
								td Cashbalance:
								td(ng-bind="cashbalance")
							tr
							tr
								td Auction Points
								td(ng-bind="auc_points")
							tr
								td Quiz Level
								td(ng-bind="quizlevel")

					a.btn.btn-primary(href='#') My Sales Performance
					a.btn.btn-primary(href='#') Team Sales Performance
		.panel-footer
			a.btn.btn-sm.btn-primary(data-original-title='Broadcast Message', data-toggle='tooltip', type='button')
				i.glyphicon.glyphicon-envelope
			span.pull-right
				a.btn.btn-sm.btn-warning(href='edit.html', data-original-title='Edit this user', data-toggle='tooltip', type='button')
					i.glyphicon.glyphicon-edit
				a.btn.btn-sm.btn-danger(data-original-title='Remove this user', data-toggle='tooltip', type='button')
					i.glyphicon.glyphicon-remove
