style(type='text/css').

  canvas{
  margin: auto;
  }

.container
  .row
    .col-md-6.col-md-offset-3
      div(id="gameArea")

    .col-md-3.col-md-offset-2
    div(id="clockdiv" class="clockdiv" style="color:white;")
