style(type='text/css').

  canvas{
  margin: auto;
  }


.container
  .row
    .col-md-9(class="wof_back" style="background:white;")
      .col-md-6
        div(id="gameArea")

      .col-md-4.col-md-offset-1(ng-show="flash")
        h2 Next spin starts in
        div(id="clockdiv" class="clockdiv" style="color:white;")

      .col-md-4.col-md-offset-1(ng-hide="flash")
        h2 Spin the wheel
