style(type='text/css').

  canvas{
  margin: auto;
  }


.container
  .row
    .col-md-9(style="background:white;")
      .col-md-6
        div(id="gameArea")

      .col-md-4
        h2 Next spin starts in
        div(id="clockdiv" class="clockdiv" style="color:white;")
