doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href='/')
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style3.min.css')
    link(rel='stylesheet',type="text/css", href='/stylesheets/style.min.css')
    link(rel='stylesheet', type='text/css', media='all', href='/bower_components/bootstrap-star-rating/css/star-rating.min.css')
    link( rel='stylesheet', type='text/css', href='/bower_components/font-awesome/css/font-awesome.min.css')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90767749-2', 'auto');
      ga('send', 'pageview');

    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js')
    script(src='/javascripts/main.js')
  body(ng-app='AuctionApp' ng-controller='IndexController')
    div(id="background")
     div(id="header")
       .col-md-1.div_tools
         i#btnFullscreen(style="color:#E6C35C;",class="fa fa-arrows-alt fa-3x",aria-hidden="true")
       .col-md-1.div_tools.pull-right
         .speaker.pull-right
         audio#player(loop)
           source(src='/audio/explosion.mp3', type='audio/mp3')
           source(src='/audio/explosion.ogg', type='audio/ogg')

       div
         div
           a(href="" ng-click="redirect('/')" class="logo")
             img(src="images/auction-icon.png" alt="")
           ul
             li(class="selected")
               a(href="" ng-click="redirect('/')" id="menu1") home

             li
               a(href="" ng-click="redirect('profile')" id="menu2") profile

             li
               a(href="" ng-click="redirect('join')" id="menu3") auctions

             li
               a(href="" ng-click="redirect('instructions')" id="menu4") instructions

             li
               a(href="" ng-click="redirect('leaderboard')" id="menu5") leaderboard




     div(ng-view='' id="body")


     .container#chatbox
        .row
          .col-md-4.pull-right
            .panel.panel-primary(id="chat_panel" style="margin-bottom:0px;")
              #collapseOne.panel-collapse.collapse
                .panel-body
                  ul.chat#res-chat
                    li.left.clearfix(ng-repeat="message in messages")
                      span.chat-img.pull-left
                        img.img-circle(src='http://placehold.it/50/55C1E7/fff&text=U', alt='')
                      .chat-body.clearfix
                        .header
                          strong.primary-font(class="chat_name") {{message.name}}
                          small.pull-right.text-muted
                            span.glyphicon.glyphicon-time
                            | {{message.time}}
                        p {{message.message}}


                .panel-footer
                  .input-group
                    input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
                    span.input-group-btn
                      button#btn-chat.btn.btn-warning.btn-sm
                        | Send

              #accordion.panel-heading
                span.glyphicon.glyphicon-comment
                |  Chat
                .btn-group.pull-right
                  a.btn.btn-default.btn-xs(type='button', data-toggle='collapse', data-parent='#accordion', data-target='#collapseOne')
                    span.glyphicon.glyphicon-chevron-up.chat_btn_up


     div(id="footer")
      div
        ul
          li(id="facebook")
            a(href="http://facebook.com/teknack/") facebook

          li(id="twitter")
            a(href="https://twitter.com/TeknackDBIT") twitter

          li(id="googleplus")
            a(href="http://plus.google.com/") googleplus

        p @ copyright 2017. all rights reserved.

  script(src="/socket.io/socket.io.js")
  script(src='/bower_components/angular-socket-io/socket.min.js')
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/bower_components/phaser/build/phaser.min.js')
  script(src="/bower_components/jquery.countdown/dist/jquery.countdown.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  script(src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js")
  script(src="/bower_components/bootstrap-star-rating/js/star-rating.min.js")
