doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    script(type='text/javascript' src='/bower_components/angular/angular.min.js')
    script(type='text/javascript' src='/bower_components/angular-route/angular-route.min.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/appRoutes.js')
    script(src='/javascripts/app.js')
  body(ng-app='AuctionApp' ng-controller='IndexController' style="background-image: url({{ bgimg }})")
    .container
      i#btnFullscreen(style="color:#E6C35C;",class="fa fa-arrows-alt fa-3x",aria-hidden="true")
      .col-md-2.pull-right
        .speaker.pull-right
        audio#player
          source(src='http://sifidesign.com/audio/explosion.mp3', type='audio/mp3')
          source(src='http://sifidesign.com/audio/explosion.ogg', type='audio/ogg')



    div(ng-view='')

  script(src="/socket.io/socket.io.js")
  script(src='/bower_components/angular-socket-io/socket.min.js')
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/javascripts/script.js')
  script(src='/bower_components/phaser/build/phaser.min.js')
  script(type="text/javascript" src="/bower_components/jquery.countdown/dist/jquery.countdown.min.js")
  script(src="/bower_components/moment/min/moment.min.js")
  script(src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js")
