body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*html,body */
/*	height: 100% */
/*	overflow: hidden */
body {
  background-size: 100vw 100vh; }

#chatbox {
  position: fixed;
  z-index: 99;
  bottom: 0px; }

.chat {
  list-style: none;
  margin: 0;
  padding: 0; }
  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9; }
    .chat li.left .chat-body {
      margin-left: 60px; }
    .chat li.right .chat-body {
      margin-right: 60px; }
    .chat li .chat-body p {
      margin: 0;
      color: #777777; }

.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px; }

.panel-body {
  overflow-y: scroll;
  height: 250px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  height: 50px; }

.list {
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 3000px;
  margin-left: 12px;
  margin-top: 0px; }
  .list li {
    display: table-cell;
    position: relative;
    text-align: center;
    cursor: grab;
    cursor: -webkit-grab;
    color: #efefef;
    vertical-align: middle; }

.scroller {
  text-align: center;
  cursor: pointer;
  display: none;
  padding: 7px;
  padding-top: 11px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff; }

.scroller-right {
  float: right; }

.scroller-left {
  float: left; }

#player {
  height: 0;
  width: 0; }

/* Apologies for the large base64 image file */
.speaker {
  background-image: url("/images/speaker.png");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100% 0;
  height: 64px;
  width: 60px;
  cursor: pointer;
  display: block;
  display: block; }

.speakerplay {
  background-position: 0 0; }

#btnFullscreen:hover {
  cursor: pointer; }

#btnFullscreen {
  text-shadow: 2px 2px #4F5052; }

.rupee_small {
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  position: absolute;
  margin: auto;
  top: -5px;
  left: 0; }

.join_canvas {
  height: auto; }

.auction_canvas {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.panel-price {
  height: 80px;
  overflow-y: hidden; }

.panel-desc {
  height: 150px; }

.panel-name {
  height: 60px; }

.panel-bid {
  height: 70px;
  overflow-y: hidden; }

.panel-seller {
  height: 50px;
  overflow-y: hidden; }

#profile_body {
  overflow-y: visible;
  height: 270px; }

.hide-bullets {
  list-style: none;
  margin-top: 20px; }

#slider {
  background: #fff;
  padding-bottom: 20px; }

#itemCarousel .item img {
  margin: auto; }

.inline-headers h5 {
  display: inline-block;
    display-vertical-align: baseline; }

.clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 20px; }
  .clockdiv > div {
    padding: 8px;
    border-radius: 3px;
    background: #63474F;
    display: inline-block; }
  .clockdiv div > span {
    padding: 10px;
    border-radius: 3px;
    background: #2E161E;
    display: inline-block; }

.smalltext {
  padding-top: 5px;
  font-size: 10px; }

.smallclock {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 10px; }
  .smallclock > div {
    padding: 8px;
    border-radius: 3px;
    background: #63474F;
    display: inline-block; }
  .smallclock div > span {
    padding: 8px;
    border-radius: 3px;
    background: #2E161E;
    display: inline-block; }

.smalltext {
  padding-top: 5px;
  font-size: 10px; }

/*# sourceMappingURL=style.css.map */